{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1> Hellp Everyone im in the html file</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Title of Movie">
            <input type="number" name="rating" placeholder="Rate out of 10">
            <select name="genre">
            {% for g in genres %}
                <option value="{{ g.id }}">{{ g.name }}</option>
            {% endfor %}
            </select>
            <button type="submit">Add Movie</button>
        </form>
        <h2>Filter by genre:</h2>
        {% for g in genres %}
            <a href="?genre={{ g.name }}">{{ g.name }}</a>
        {% endfor %}
        <h2> Name of Movies with their rating</h2>
        {% for i in movies %}
        <div class="movie-item">
            {{i.title}} + {{i.rating}} + {{i.genre}}
            <form method="POST" action="{% url 'delete_movie' i.id %}" style="display:inline">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
            <a href="{% url 'edit_movie' i.id %}" style="display:inline">Edit</a>
        </div>
    {% endfor %}
</body>
</html>